.header {
    background-color: rgb(128, 214, 184);

}

.main-nav {
    display: block;

    &__main-nav__link{
        display: flex;
    }

    &__logo {
        font-size: 26px;
        display: flex;

    }
}